[submodule "plugins/mPlug"]
	path = plugins/mPlug
	url = https://github.com/whiterabb17/mPlug
[submodule "plugins/fPlug"]
	path = plugins/fPlug
	url = https://github.com/whiterabb17/fPlug
[submodule "plugins/cPlug"]
	path = plugins/cPlug
	url = https://github.com/whiterabb17/cPlug
[submodule "plugins/gPlug"]
	path = plugins/gPlug
	url = https://github.com/whiterabb17/gPlug
[submodule "gPlug"]
	path = gPlug
	url = https://github.com/whiterabb17/gPlug
[submodule "mPlug"]
	path = mPlug
	url = https://github.com/whiterabb17/mPlug
[submodule "fPlug"]
	path = fPlug
	url = https://github.com/whiterabb17/fPlug
[submodule "cPlug"]
	path = cPlug
	url = https://github.com/whiterabb17/cPlug
